body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-container {
    background-color: #1f1f1f; /* Darker background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle lift */
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333; /* Input background color */
    color: #fff; /* Input text color */
}

button {
    padding: 10px;
    background-color: #4CAF50; /* Button color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker color on hover */
}
